extends layout

block content
    a(href='/auth/twitter') login with twitter
    br
    a(href='/auth/facebook') login with facebook
    br
    form(action="/user/login", method="post")
        input(type='text', name="email", placeholder='Enter email')
        br
        input(type='password', name="pw", placeholder='Password')
        br
        button(type='submit') Submit