extends layout

block content
    .container
        h1 Login Page
        a(href='/auth/twitter') login with twitter
        br
        a(href='/auth/facebook') login with facebook
        br
        form(role='form', action="/login",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="email", placeholder='Enter email')
            .form-group
                input.form-control(type='pw', name="pw", placeholder='Password')
            button.btn.btn-default(type='submit') Submit
        a(href='/')
        button.btn.btn-primary(type="button") Cancel