doctype html
html
  head
    meta(charset='UTF-8')
    title 正しいURLをご利用ください
    link(rel='stylesheet', type='text/css', href='css/op.css')
  body
    h1 URL REJECTED
    p Confirm your badge code, please.
    hr
    p
    |お問い合せ
    br
    |#{group}
    |office@48v.me
