extends layout

block content
    form(action="/term/login", method="post")
        input(type='text', name="_id", placeholder='tid')
        br
        input(type='password', name="pw", placeholder='Password')
        br
        button(type='submit') Submit