extends layout

block content
    form(action="/term/register", method="post")
        input(type='text', name="_id", placeholder='tid')
        br
        input(type='password', name="pw", placeholder='Password')
        br
        input(type='text', name="name", placeholder='name')
        br
        input(type='url', name="homeURL", placeholder='home URL')
        br
        button(type='submit') Submit