extends layout

block content
  if (!user)
    a(href="/user/login") Login
    br
    a(href="/user/register") Register
  if (user)
    p You are currently logged in as #{user.email} #{user.twitter} #{user.facebook}
    a(href="/user/logout") Logout